/* Styles for storymap.html by Klas Karlsson */
      body{
        padding: 0;
        margin: 0;
        font-family: Arial;
        font-size: 14px;
      }
      .map:-moz-full-screen {
        height: 100%;
      }
      .map:-webkit-full-screen {
        height: 100%;
      }
      .map:-ms-fullscreen {
        height: 100%;
      }
      .map:fullscreen {
        height: 100%;
      }
      .ol-rotate {
        top: 3em;
      }
      .map {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
      }
      .slide {
        z-index: 2;
        position: absolute;
        bottom: 50px;
        left: 10%;
        margin: auto;
        width: 80%;
        color: rgb(200,0,0);
        background-color: rgba(255, 255, 255, 0.8);
        text-align: left;
        visibility: hidden;
        padding: 20px;
      
      }
      H1 {
      
      }
      p {

      }

      .storyTitle {
        font-family: Arial;
        font-size: 44pt;
        font-weight: bold;
        color: rgb(255,255,255);
        background-color: rgba(255,0,0,.5);
        z-index: 3;
        position: absolute;
        top: 20px;
        left: 10%;
        width: 80%;
        text-align: center;
        padding: 5px;
      
      }